@{ ViewData["Title"] = "Rental Catalog"; }
<link href="/css/catalog.css" rel="stylesheet" />

<div class="text-center">
  <h1 class="display-4">Rental Catalog</h1>
</div>

<div class="catalog" id="carList"></div>

<!-- link the custom JS -->
<script src="/js/catalog.js"></script>
