@{ ViewData["Title"] = "Representatives Page"; }
<link href="/css/repres.css" rel="stylesheet" />
<h1>Representatives</h1>

<div class="repres">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody id="repList"></tbody>
  </table>
</div>

<script src="/js/repres.js"></script>
